@charset "UTF-8";

ul#albumFotos{
    width: 900px; /* Largura */
    margin: 0 auto; /*Margem 0 a esquerda e automática para as outras*/
    padding: 50px; 
    overflow: hidden;
    list-style: none;
}
ul#albumFotos li{
    float:left; /* Cada ítem um ao lado do outro e não em cima*/
    width:250px; /*Largura*/
    height: 250px; /*Altura*/
    margin: 10px;
    border: 5px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px rgba(0,0,0,.4);  
    -webkit-transition: all 1s ease-in; 
}
ul#albumFotos li span{
    opacity: 0;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
     background-color: rgba(0,0,0,.3);
    font-size: 12pt;
    line-height: 475px;
    padding: 5px;
}
ul#albumFotos li:hover span{
    opacity: 1;
}
ul#albumFotos li:hover{
    -webkit-transform: scale(1.5);
}
ul#albumFotos li#foto01{
    background: url('../_imagens/foto01.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 600px 600px;
    background-color: #ffffff;  
}
ul#albumFotos li#foto01:hover{
    background-position: 0% 0%;
    background-size: 300px 300px;
}
ul#albumFotos li#foto02{
    background: url('../_imagens/foto02.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 600px 600px;
    background-color: #ffffff;
}
ul#albumFotos li#foto02:hover{
    background-position: 0% 0%;
    background-size: 300px 300px;
}
ul#albumFotos li#foto03{
    background: url('../_imagens/foto03.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 600px 600px;
    background-color: #ffffff;
}
ul#albumFotos li#foto03:hover{
    background-position: 0% 0%;
    background-size: 300px 300px;
}
ul#albumFotos li#foto04{
    background: url('../_imagens/foto04.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 600px 600px;
    background-color: #ffffff;
}
ul#albumFotos li#foto04:hover{
    background-position: 0% 0%;
    background-size: 300px 300px;
}
ul#albumFotos li#foto05{
    background: url('../_imagens/foto05.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 600px 600px;
    background-color: #ffffff;
}
ul#albumFotos li#foto05:hover{
    background-position: 0% 0%;
    background-size: 300px 300px;
}
ul#albumFotos li#foto06{
    background: url('../_imagens/foto06.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 600px 600px;
    background-color: #ffffff;
}
ul#albumFotos li#foto06:hover{
    background-position: 0% 0%;
    background-size: 300px 300px;
}

